body{
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    border-bottom:2px solid black;
    height:130px;
    position: relative;
    position:fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: white;
}
 nav img{
    position: absolute;
    width:100px;
    height: 100px;
    bottom:10px;
    left: 100px;
}
nav img:hover{
    transform:scale(1.01);
    transition:0.2s;
}
nav span{
    font-size:small;
}
.text1{
    margin-left: 45%;
    color:rgb(139, 139, 161);

}
nav h4{
    margin-left:250px;
    margin-top:40px;
}
nav h4 a{
    padding:10px;
    text-decoration: none;
    color:rgb(20, 20, 94);
}
nav h4 a:hover{
    border-bottom:solid blue 7px ;
}

/*  section 2 */
 
/* .corp1 img{ */
    /* width: 100%;
    height: 600px;
    object-fit: cover;
} */
section{
    margin-top: 130px;
    

 }
.corp1{
    background:url(Image/bandeau.jpg) center /cover;
    min-height:90vh;
    /* position: fixed; */
    width:100%;
    margin-top:15px;
    position: relative;
 
}
.sous{
    text-align: center;
    position: absolute;
    left:25%;
    top:35%;
}
.sous .p{
    font-size:x-large;
    color: hsl(0, 0%, 100%);
    margin:15px;
}
.sous p{
    color: white;
}
.sous-text{
    width: 500px;
    height: 50px;
    margin: auto;
    display: flex;
    align-items: center;

}
.sous-text .hep{
    border:solid  rgb(250, 185, 7);
    height:44px;
    width: 50%;
    color: white;
}
.sous-text .sol{
    background-color:rgb(250, 185, 7);
    height: 50px;
    width: 50%;
     color: rgb(7, 7, 68);
}
.sous-text h3{
    font-weight:1000;
    font-size: xx-large;
    margin: auto;
}
.sous-text h3 span{
    margin-left:30px;
    background-color:rgb(250, 185, 7);
}
.sous a{
    text-decoration: none;
    font-weight:bolder;
    padding:10px 40px;
     background-color:rgb(250, 185, 7);
}
.sous a:hover{
    background-color:rgb(7, 7, 68);
    color: white;
    transition:0.5s;
}
.corp1 .ligne{
    position: absolute;
    width:5px;
    height:50px;
    background-color:rgb(250, 185, 7);
    top:96%;
    left:50%;
}
                /* Section 2 */

.section2{
    margin-top:0;
    width:100%;
    height:200px;
    position: relative;
}
.section2 h2{
    position: absolute;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    margin-left:43%;
    color:rgb(7, 7, 68);
    top:10px;
}
section .ligne2{
    width:50px;
    height:5px;
    background-color: rgb(250, 185, 7);
    margin-left:49%;
    top:80px;
    position: absolute;
}

                 /* section 3 */

.section3{
    position: relative;
    margin-top: 0;
    width:100%;
    height:400px;
    background-color: grey;
}
.images{
    margin-left:60px;
    position: absolute;
    width:100%;
    height:400px;
    display: flex;
    gap:20px;
    bottom:70px;
}
.image{
    width:390px;
    height:255px;
    
}
.left{
    background:url(Image/encart-2.jpg) ;
    background-repeat: no-repeat;
    object-fit: cover; 
}
.center{
    background:url(Image/encart-3.jpg) ;
    background-repeat: no-repeat;
    object-fit: cover;
}
.right{
    background:url(Image/encart-1.jpg) ;
    background-repeat: no-repeat;
    object-fit: cover;
}
.bleu{
    cursor: pointer;
    position: relative;
    opacity: calc(0.8);
    background-color: rgb(9, 9, 71);
    width:100%;
    height: 100%;
}
.bleu:hover{
    background: none;
    transition:1s;
}
.image:hover{
    transform: scale(1.05);
    transition:1s;
}
.images .carre{
    cursor: pointer;
    position: absolute;
    top:130px;
    left:120px;
    width:150px;
    height:50px;
    color: white;
    border:2px solid rgb(250, 185, 7);
    text-align: center;
    padding-bottom: 20px;
}
.images .carre span{
    font-weight:1000;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;

}
.images .img1{
    z-index:1;
    position: absolute;
    top:80px;
    left:170px;
}

.images .carre2{
    cursor: pointer;
    position: absolute;
    top:130px;
    left:100px;
    width:200px;
    height:50px;
    color: white;
    border:2px solid rgb(250, 185, 7);
    text-align: center;
    padding-bottom: 20px;
}
.images .carre2 span{
    font-weight:1000;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.images .img2{
    z-index:1;
    position: absolute;
    top:80px;
    left:170px;
}

          /* section4 */

.section4{
    margin-top:0;
    width: 100%;
    height:600px;
    position: relative;
}
.text2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:22px;
    position: absolute;
    left:28%;
    top:20px;
    color: rgb(7, 7, 68);
}
.section4 .ligne3{
    width:50px;
    height:5px;
    background-color: rgb(250, 185, 7);
    margin-left:47%;
    top:89px;
    position: absolute;
}
.section4 .tt3{
    position: absolute;
    top:120px;
    left:100px;
    font-size: x-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(22, 47, 94);
}
.conteneur .h3{
    font-size:30px;
    color: rgb(202, 132, 1);
}
.conteneur{
    display:flex;
    gap:60px;
    position: absolute;
    top:45%;
    left:95px;
}
.conteneur .text5{
    font-size:18px;
    color: rgb(22, 47, 94);
}


/* section6 */
.conteneur5{
    width: 100%;
    height:400px;
}
.conteneur5 .text6{
    color: rgb(202, 132, 1);
    margin-left:90px;
    padding-top:20px;
}